termcolor>=1.1
Pillow>=7.1  # or use pillow-simd for better performance
yacs>=0.1.6
tabulate
cloudpickle
matplotlib
tqdm>4.29.0
tensorboard
fvcore>=0.1.2
pycocotools>=2.0.2  # corresponds to https://github.com/ppwwyyxx/cocoapi
future  # used by caffe2
pydot